In [1]:
import sys

In [2]:
import pandas as pd

In [3]:
print(sys.executable)

/Users/waseh/Desktop/aba-behaviour-eda/.venv/bin/python

In [5]:
df = pd.read_csv("../data/aba_behavior_synthetic_v1.csv")
df.head()

,date,client_id,hours_slept,screen_time_hours,sugar_intake,noise_level,routine_change,setting,antecedent,behavior_occurred,behavior_intensity
0,2024-01-01,1001,8.9,3.4,1,7,0,Clinic,Demand,0,1.6
1,2024-01-02,1013,7.4,2.4,1,0,0,School,Attention Removed,1,1.3
2,2024-01-03,1012,9.0,2.7,1,2,0,Home,Demand,0,0.8
3,2024-01-04,1002,6.3,3.0,2,1,1,School,Peer Conflict,1,1.8
4,2024-01-05,1018,5.8,2.3,0,0,1,Clinic,Attention Removed,1,1.4

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                600 non-null    object
 1   client_id           600 non-null    int64
 2   hours_slept         600 non-null    float64
 3   screen_time_hours   600 non-null    float64
 4   sugar_intake        600 non-null    int64
 5   noise_level         600 non-null    int64
 6   routine_change      600 non-null    int64
 7   setting             600 non-null    object
 8   antecedent          600 non-null    object
 9   behavior_occurred   600 non-null    int64
 10  behavior_intensity  600 non-null    float64
dtypes: float64(3), int64(5), object(3)
memory usage: 51.7+ KB

In [7]:
df.describe()

,client_id,hours_slept,screen_time_hours,sugar_intake,noise_level,routine_change,behavior_occurred,behavior_intensity
count,600.000000,600.000000,600.000000,600.000000,600.00000,600.000000,600.000000,600.000000
mean,1009.683333,8.012500,2.523667,1.871667,4.97500,0.485000,0.801667,1.780833
std,5.383124,1.728141,1.216528,1.397062,3.18139,0.500192,0.399077,1.000826
min,1001.000000,3.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,1005.000000,6.900000,1.700000,1.000000,2.00000,0.000000,1.000000,1.100000
50%,1009.000000,8.000000,2.400000,2.000000,5.00000,0.000000,1.000000,1.800000
75%,1014.250000,9.300000,3.325000,3.000000,8.00000,1.000000,1.000000,2.500000
max,1019.000000,12.000000,5.800000,8.000000,10.00000,1.000000,1.000000,4.700000